<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Contact Section -->
  <div class="overlay2" id="container-info">
    <div id="contact" class="text-center">
      <div class="container">
        <div class="section-title text-center">
          <span class="close-btn">&times;</span>
          <h2>Contact Form</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="name" class="form-control" placeholder="Nombre " required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="Phone" class="form-control" placeholder="Numero de telefono"
                    required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select id="programs" name="programs" class="form-control">
                    <option value="" selected disabled>Que programa te llama la atencion</option>
                    <option value="software-engineering">Ingeniería de Software</option>
                    <option value="food-engineering">Ingeniería de Alimentos</option>
                    <option value="electrical-engineering">Ingeniería Eléctrica</option>
                    <option value="environmental-engineering">Ingeniería Ambiental</option>
                    <option value="occupational-safety-health">Seguridad y Salud en el Trabajo</option>
                  </select>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="4" placeholder="Comentarios"
                required></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-custom btn-lg">Enviar Respuestas</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="#page-top"><img
            src="https://www.fet.edu.co/wp-content/uploads/2021/09/Logo-FET.png" alt="" width="100"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
          <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
          <li><a href="#team" class="page-scroll">Chefs</a></li>
          <li><a href="#call-reservation" class="page-scroll">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>FET</h1>
              <p>Inscripciones Abiertas</p>
              <button type="button" class="btn btn-custom btn-lg page-scroll" id="about-info">Obtener
                informacion</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="fixed-links" id="fixedLinks">
    <a class="bx-a" style="color: rgb(0, 11, 105);" href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook-circle' ></i></a>
    <a class="bx-a" style="color: rgb(8, 92, 201);" href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter'></i></a>
    <a class="bx-a" style="color: rgb(255, 0, 0);" href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube' ></i></a>
    <a class="bx-a" style="color: rgb(22, 88, 230);" href="https://www.linkedin.com" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
    <a class="bx-a" style="color: rgb(190, 23, 93);" href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram' ></i></a>
    <a class="bx-a" style="color: rgb(0, 0, 0);" href="https://www.tiktok.com" target="_blank"><i class='bx bxl-tiktok' ></i></a>
  </div>
  <!-- About Section -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="about-img"><img src="img/about.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <br>
            <h2>¿Quienes Somos?</h2>
            <hr>
            <p>La Fundación Escuela Tecnológica de Neiva “Jesús Oviedo Pérez” siendo consciente de la importancia del
              bienestar y considerándolo como factor fundamental para ofrecer un ambiente apropiado y favorecer los
              procesos de enseñanza y aprendizaje, de investigación, de extensión y de investigación, declara el
              Bienestar Institucional como función reconocida “por apoyar a la formación de la comunidad educativa y su
              articulación a los procesos académicos; a través de proyectos colectivos que potencialicen el desarrollo
              humano en todas sus dimensiones.”</p>
            <h3>Objetivo General </h3>
            <p>“Promover el desarrollo humano y apoyar la formación integral de todos los miembros de la comunidad
              educativa, teniendo en cuenta las dimensiones biológicas, intelectuales, espirituales, psicoafectivas y
              socioculturales, de acuerdo con los principios de la filosofía institucional.”</p>
            <h3>OBJETIVOS ESPECÍFICOS</h3>
            <ul class="specific-goal">

              <li> Generar condiciones que contribuyan a la promoción integral de la comunidad académica para el
                desarrollo de capacidades que estimulen la apropiación de los principios y valores de la institución,
                fomentando el crecimiento personal de los estudiantes, los docentes los administrativos y los egresados.
              </li>
              <li> Adelantar programas de bienestar orientadas al desarrollo físico, psicoafectivo y social de los
                estudiantes, los docentes, los administrativos y los egresados.</li>
              <li> Promover la creatividad en la comunidad, conducente al mejoramiento institucional en un ambiente de
                sana convivencia.</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Restaurant Menu Section -->
  <div id="restaurant-menu">
    <div class="section-title text-center center">
      <div class="overlay">
        <h2>Programas de pregrado</h2>
        <hr>  
        <p>Con nosotros serás Técnico Profesional, Tecnólogo y Profesional en solo 5 años</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title"><strong>Ingeniera de software</strong></h2>
            <p class="text-center">SNIES 103582 <br>
              Resolución 12906 Agosto 11/14
            </p>
            <br>
            <hr>
            <div class="menu-item">
              <p class="menu-item-name">¡Conviértete en un maestro del código y haz que los programas cobren vida! Como
                Ingeniero de Software, tendrás la capacidad de crear soluciones innovadoras y resolver problemas
                complejos utilizando tecnología avanzada. Podrás diseñar, desarrollar, implementar y mantener sistemas
                de software a gran escala y asegurarte de que estén funcionando sin problemas.</p>
              <div class="text-center mt">
                <img class="programs-img" src="/img/programs/software.png" alt="">
              </div>
              <div class="text-center mt">
                <a href="/Software"><button class="btn btn-custom">Ver más</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title"><strong>Ingenieria de Alimentos</strong></h2>
            <p class="text-center">SNIES 105206 <br>
              Resolución 551 Enero 15/16
            </p>
            <br>
            <hr>
            <div class="menu-item">
              <p class="menu-item-name">¿Te apasiona la comida y la ciencia? ¡Únete a nuestro programa de Ingeniería de
                Alimentos y conviértete en un líder en la innovación alimentaria! Prepárate para dirigir empresas,
                desarrollar nuevos productos y tecnologías, garantizar la calidad y seguridad de los alimentos y liderar
                proyectos emocionantes de investigación y desarrollo.</p>
              <div class="text-center mt">
                <img class="programs-img" src="/img/programs/alimentos.png" alt="">
              </div>
              <div class="text-center mt">
                <a href="/Alimentos"><button class="btn btn-custom">Ver más</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title"><strong>Ingeniería Electrica</strong> </h2>
            <p class="text-center">SNIES 108112 <br>
              Resolución 006620 Junio26/19
            </p>
            <br>
            <hr>
            <div class="menu-item">
              <p class="menu-item-name">
                El Ingeniero Electricista es un profesional altamente capacitado que se enfoca en el desarrollo del
                sector eléctrico y en la generación de soluciones eficientes y sostenibles. Su formación ética y
                compromiso social lo convierten en un agente de cambio para la sociedad.Gracias a su amplio
                conocimiento, puede liderar proyectos innovadores y resolver problemas complejos con iniciativa.</p>
              <div class="text-center mt">
                <img class="programs-img" src="/img/programs/electrica.png" alt="">
              </div>
              <div class="text-center mt">
                <a href="/Electrica"><button class="btn btn-custom">Ver más</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title"><strong>Ingeniería Ambiental</strong> </h2>
            <p class="text-center">SNIES 103148 <br>
              Resolución 3317 Marzo 14/14
            </p>
            <br>
            <hr>
            <div class="menu-item">
              <p class="menu-item-name">¡Únete a la carrera de Ingeniería Ambiental y conviértete en un héroe del medio
                ambiente! Como ingeniero ambiental, tendrás la oportunidad de liderar proyectos para proteger el
                planeta, diseñar soluciones para prevenir la contaminación y asegurar un futuro sostenible. Podrás
                trabajar como analista de impacto ambiental, auditor ambiental, jefe de área en el campo ambiental y
                planificador del medio ambiente.</p>
              <div class="text-center mt">
                <img class="programs-img" src="/img/programs/ambiental.png" alt="">
              </div>
              <div class="text-center mt">
                <a href="/Ambiental"><button class="btn btn-custom">Ver más</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 centered-column">
          <div class="menu-section">
            <h2 class="menu-section-title"><strong> Administración de la Seguridad y Salud en el Trabajo</strong> </h2>
            <p class="text-center">SNIES 110016 <br>
              Resolución 003302 03 MAR 2021
            </p>
            <br>
            <hr>
            <div class="menu-item">
              <p class="menu-item-name">Conviértete en el líder que las empresas necesitan para garantizar la seguridad
                y salud de sus trabajadores. Como Administrador de la seguridad y salud en el trabajo, tendrás el
                conocimiento para dirigir y coordinar programas, capacitar al personal y asegurarte de que se cumplan
                las normas de seguridad en cualquier organización.</p>
              <div class="text-center mt">
                <img class="programs-img" src="/img/programs/salud.png" alt="">
              </div>
              <div class="text-center mt">
                <a href="/salud-seguridad"><button class="btn btn-custom">Ver más</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Section -->
  <div id="portfolio">
    <div class="section-title text-center center">
      <div class="overlay">
        <h2>Gallery</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="categories">
          <ul class="cat">
            <li>
              <ol class="type">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".breakfast">Breakfast</a></li>
                <li><a href="#" data-filter=".lunch">Lunch</a></li>
                <li><a href="#" data-filter=".dinner">Dinner</a></li>
              </ol>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/01-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 dinner">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/02-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/03-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/04-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 dinner">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/05-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/06-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/07-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/08-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 dinner">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/09-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/09-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/10-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/10-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/11-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/11-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/12-large.jpg" title="Dish Name"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dish Name</h4>
                  </div>
                  <img src="img/portfolio/12-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section -->
  <div id="team" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="col-md-10 col-md-offset-1 section-title">
          <h2>Meet Our Chefs</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
        </div>
        <div id="row">
          <div class="col-md-4 team">
            <div class="thumbnail">
              <div class="team-img"><img src="img/team/01.jpg" alt="..."></div>
              <div class="caption">
                <h3>Mike Doe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 team">
            <div class="thumbnail">
              <div class="team-img"><img src="img/team/02.jpg" alt="..."></div>
              <div class="caption">
                <h3>Chris Doe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 team">
            <div class="thumbnail">
              <div class="team-img"><img src="img/team/03.jpg" alt="..."></div>
              <div class="caption">
                <h3>Ethan Doe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call Reservation Section -->
  <div id="call-reservation" class="text-center">
    <div class="container">
      <h2>Want to make a reservation? Call <strong>1-887-654-3210</strong></h2>
    </div>
  </div>

  <div id="footer">
    <div class="container text-center">
      <div class="col-md-4">
        <h3>Address</h3>
        <div class="contact-item">
          <p>4321 California St,</p>
          <p>San Francisco, CA 12345</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Opening Hours</h3>
        <div class="contact-item">
          <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
          <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Contact Info</h3>
        <div class="contact-item">
          <p>Phone: +1 123 456 1234</p>
          <p>Email: info@company.com</p>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center copyrights">
      <div class="col-md-8 col-md-offset-2">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <p>&copy; 2016 Touché. All rights reserved. Designed by <a href="http://www.templatewire.com"
            rel="nofollow">TemplateWire</a></p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/SmoothScroll.js"></script>
  <script type="text/javascript" src="/js/nivo-lightbox.js"></script>
  <script type="text/javascript" src="/js/jquery.isotope.js"></script>
  <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="/js/contact_me.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>